In [2]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("/Users/chloezhao/Downloads/archive2/triads.csv")

# Display the DataFrame
print(df)

                 Chord Note1 Note2 Note3
0            C_maj_2_0   C_2   E_2   G_2
1            C_maj_3_0   C_3   E_3   G_3
2            C_maj_4_0   C_4   E_4   G_4
3            C_maj_5_0   C_5   E_5   G_5
4            C_maj_6_0   C_6   E_6   G_6
...                ...   ...   ...   ...
1435  B_min_3_1 copy 3   B_4   D_4  Fs_4
1436  B_min_4_1 copy 3   B_5   D_5  Fs_5
1437  B_min_5_1 copy 3   B_6   D_6  Fs_6
1438  B_min_6_1 copy 3   B_7   D_7  Fs_7
1439  B_min_7_1 copy 3   B_8   D_8  Fs_8

[1440 rows x 4 columns]

In [3]:
def second_occurrence(s, char):
    # Find the first occurrence of the character
    first_index = s.find(char)
    if first_index == -1:
        return -1  # Character not found
    # Find the second occurrence of the character
    second_index = s.find(char, first_index + 1)
    return second_index

def change_last_digit_to_zero(x):
    if pd.notnull(x):
        return x[:second_occurrence(x,"_")]
    return x

df['Chord_modified'] = df['Chord'].apply(change_last_digit_to_zero)

df.to_csv('triads_modified.csv', index=False)

In [4]:
print(df)

                 Chord Note1 Note2 Note3 Chord_modified
0            C_maj_2_0   C_2   E_2   G_2          C_maj
1            C_maj_3_0   C_3   E_3   G_3          C_maj
2            C_maj_4_0   C_4   E_4   G_4          C_maj
3            C_maj_5_0   C_5   E_5   G_5          C_maj
4            C_maj_6_0   C_6   E_6   G_6          C_maj
...                ...   ...   ...   ...            ...
1435  B_min_3_1 copy 3   B_4   D_4  Fs_4          B_min
1436  B_min_4_1 copy 3   B_5   D_5  Fs_5          B_min
1437  B_min_5_1 copy 3   B_6   D_6  Fs_6          B_min
1438  B_min_6_1 copy 3   B_7   D_7  Fs_7          B_min
1439  B_min_7_1 copy 3   B_8   D_8  Fs_8          B_min

[1440 rows x 5 columns]

In [5]:
def remove_underscores(x):
    if pd.notnull(x):
        return x[:-2] + x[-1]
    return x

df['Note1'] = df['Note1'].apply(remove_underscores)
df['Note2'] = df['Note2'].apply(remove_underscores)
df['Note3'] = df['Note3'].apply(remove_underscores)

df.to_csv('triads_modified.csv', index=False)

In [6]:
print(df)

                 Chord Note1 Note2 Note3 Chord_modified
0            C_maj_2_0    C2    E2    G2          C_maj
1            C_maj_3_0    C3    E3    G3          C_maj
2            C_maj_4_0    C4    E4    G4          C_maj
3            C_maj_5_0    C5    E5    G5          C_maj
4            C_maj_6_0    C6    E6    G6          C_maj
...                ...   ...   ...   ...            ...
1435  B_min_3_1 copy 3    B4    D4   Fs4          B_min
1436  B_min_4_1 copy 3    B5    D5   Fs5          B_min
1437  B_min_5_1 copy 3    B6    D6   Fs6          B_min
1438  B_min_6_1 copy 3    B7    D7   Fs7          B_min
1439  B_min_7_1 copy 3    B8    D8   Fs8          B_min

[1440 rows x 5 columns]

In [7]:
def replace_s_with_hash(x):
    return x.replace('s', '#')

df['Note1'] = df['Note1'].apply(replace_s_with_hash)
df['Note2'] = df['Note2'].apply(replace_s_with_hash)
df['Note3'] = df['Note3'].apply(replace_s_with_hash)

df.to_csv('triads_modified.csv', index=False)

In [8]:
print(df)

                 Chord Note1 Note2 Note3 Chord_modified
0            C_maj_2_0    C2    E2    G2          C_maj
1            C_maj_3_0    C3    E3    G3          C_maj
2            C_maj_4_0    C4    E4    G4          C_maj
3            C_maj_5_0    C5    E5    G5          C_maj
4            C_maj_6_0    C6    E6    G6          C_maj
...                ...   ...   ...   ...            ...
1435  B_min_3_1 copy 3    B4    D4   F#4          B_min
1436  B_min_4_1 copy 3    B5    D5   F#5          B_min
1437  B_min_5_1 copy 3    B6    D6   F#6          B_min
1438  B_min_6_1 copy 3    B7    D7   F#7          B_min
1439  B_min_7_1 copy 3    B8    D8   F#8          B_min

[1440 rows x 5 columns]

In [30]:
triad_set = df.iloc[:360]

num_iterations = 10

triads_with_copies = triad_set.copy()

for num in range(1, num_iterations + 1):
    # Create a copy of the original DataFrame
    triad_set_copy = triad_set.copy()
    
    # Append " copy 'num'" to each entry in the first column
    triad_set_copy['Chord'] = triad_set_copy['Chord'] + f" copy {num}"

    triads_with_copies = pd.concat([triads_with_copies, triad_set_copy], axis=0)
    

print(triads_with_copies)

df.to_csv('triads_modified.csv', index=False)

                 Chord Note1 Note2 Note3 Chord_modified
0            C_maj_2_0    C2    E2    G2          C_maj
1            C_maj_3_0    C3    E3    G3          C_maj
2            C_maj_4_0    C4    E4    G4          C_maj
3            C_maj_5_0    C5    E5    G5          C_maj
4            C_maj_6_0    C6    E6    G6          C_maj
..                 ...   ...   ...   ...            ...
355  B_min_3_1 copy 10    B4    D4   F#4          B_min
356  B_min_4_1 copy 10    B5    D5   F#5          B_min
357  B_min_5_1 copy 10    B6    D6   F#6          B_min
358  B_min_6_1 copy 10    B7    D7   F#7          B_min
359  B_min_7_1 copy 10    B8    D8   F#8          B_min

[3960 rows x 5 columns]